
.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  min-height: 100vh;
  background: #212121;

  > section {
    height: 20vh;
  }
  
  main {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #1c1c1c;
  width: 400px;
  border-radius: 8px;
  gap: 15px;

  h1 {
    font-size: 1.5rem;
  }

  .fileUpload {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    gap: 30px;

    padding-bottom: 30px;
    border-bottom: 1px solid #292929;

    input {
      display: none;
    }

    button {
      border: 1px solid #2ad194;
      color: #fff;
      background: #000;
      border-radius: 4px;
      width: 100px;
      height: 100px;
      cursor: pointer;
    }

    .submitButton {
      width: 100px;
      height: 40px;
      font-size: 1rem;
    }
  }

  .imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 95%;
    margin-top: 25px;
    margin-bottom: 35px;

    section {
      background: #000;
      border-radius: 15px;
      cursor: pointer;
      
      article {
        border-radius: 15px;
        position: relative;
        margin-bottom: -93px;
        height: 90px;
        left: 50%;
        transform: translate(-50%, -104.5%);
        background: rgba($color: #000000, $alpha: 0.0);
        transition: background .1s cubic-bezier(0.075, 0.82, 0.165, 1);
        
        &:hover {
          background: rgba($color: #000000, $alpha: 0.5);
        }
      }

      img {
        height: 90px;
        border-radius: 15px;
      }
    }

  }
}